*~

.DS_Store
.classpath
.gradle-snapshot-dependencies
.gradle-to-install
.gradle-to-test
.maven-effective-pom.xml
.maven-snapshot-dependencies
.maven-test
.maven-test-dependents
.maven-to-install
.maven-to-test
.maven-to-test-dependents
.project
.settings/
/*.deb
/*.zip
/.gradle-settings/
/.gradle/
/.maven-cache/
/.maven-workspace/
/maven.log
target/
