/* This stylesheet is intended to increase readability. Adapted from
   http://antijingoist.github.io/web-accessibility/stylesheets/accessibility.css.
*/
@namespace epub url("http://www.idpf.org/2007/ops");

code,
kbd,
pre,
samp{
  font-family:"Courier New", Courier, monospace !important;
}

*{
  font-family:Verdana, Arial, sans-serif !important;
}

/* Use an off-white background. Some users need high
   contrast for better reading. Some need low contrast. A
   happy medium would be off white to reduce "glare" and
   black text. Anyone that needs a greater extreme likely
   overrides stylesheets. The text is colored dark blue to
   assist with "glare" issues, but also to make the black
   symbols subtly stand out. */
body{
  font-size:14px;
  line-height:200%;
  background:snow;
  margin:auto 0;
  padding:0 100;
  color:#1A0033;
}

/* alternate paragraph shading helps users stay on track
   while reading. This shading is very subtle so it is not
   annoying, but it still helps. */
p:nth-child(even), li:nth-child(even) {
	background-color: rgba(0,0,0, 0.03);
}


/* highlight text under cursor helps users focus on what
   they are currently reading. This shading is darker than
   the alt-paragraph shading. */
p:hover, li:hover {
   background-color: rgba(0,0,0, 0.5) !important;

}

/* SBS specific changes */

.poem{
  margin-left:3em;
}
.linegroup + .linegroup{
  margin-top:3em;
}

.emptyline{
  margin-top:3em;
  visibility:hidden;
}

.bridgehead{
  font-weight:bold;
}

.byline, span[epub|type="z3998:author"]{
  display:block;
}

span[epub|type="pagebreak"], div[epub|type="pagebreak"]{
  display:block;
  margin-top: 3em;
  margin-bottom: 3em;
}

